.input {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0 auto;
	max-width: 450px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	white-space: pre;
	overflow-wrap: break-word;
	word-wrap: break-word;
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* form */
.input--form {
	overflow: hidden;
	overflow-wrap: break-word;
  word-wrap: break-word;
}

.input__field--form {
	white-space: pre;
	overflow-wrap: break-word;
	word-wrap: break-word;
	margin-top: 1em;
	padding: 1em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}
#counter2 {
	height: 120px;
}

#input-2 {
	padding-top: 3em;
}

.input__label--form {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--form {
	position: absolute;
}

.input__label--form::before,
.input__label--form::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--form::after {
	margin-top: 2px;

	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--form-color-1::after {
	border-color: $red-color;
}


.input__field--form:focus + .input__label--form::after,
.input--filled .input__label--form::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--form:focus + .input__label--form .input__label-content--form,
.input--filled .input__label-content--form {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}
form.content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
	transition: max-height 0.2s ease-out;
	.textarea {
		height: 120px;
	}
}
.radioButtons {
  text-align: left;
  a {
    display: inline;
  }
}
#clear-button {
  display: block;
  margin: 0 auto;
}
button.sendBtn {
  background-color: $red-color;
  color: #fff;
  display: block;
  float: right;
	margin-right: 3.5em;
	&:hover {
		background-color: #fff;
		color: $red-color;
		transition: all 1s ease;
	}
}
button.closeBtn {
  display: block;
  float: right;
  border: none;
  clear: both;
  margin-top: 2em;
  img {
    vertical-align: bottom;
    margin-left: 5px;
  }
}

#textarea_feedback, #textarea_feedback2 {
	display: block;
	text-align: center;
	max-width: 450px;
	text-align: right;
	margin: 0 auto;
}

.error {
	color: $red-color;
	margin: 1em 0; 
}
