//Header CSS

//First nav
ul.topNav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  li {
    padding: 10px;
    a {
      color: $text-color;
      &:hover {
        color: $red-color;
      }
    }
  }
  li:nth-child(1) {
    text-align: right;
  }
  li:nth-child(3) {
    justify-content: flex-end;
  }
  li:nth-child(5) {
    flex-grow: 2;
    justify-content: flex-end;
  }
  li:nth-child(3), li:nth-child(4), li:nth-child(5) {
    display: flex;
  }
  li:nth-child(6) {
    flex-grow: 10;
    text-align: right;
  }
  li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4) {
    flex-grow: 2;
  }
  li img {
    padding-right: 5px;
  }
}
//End of first nav

//Second nav
.mainImageWrapper {
  position: relative;
  .gradient {
    position: absolute;
    top: 0;
    width: 100%;
    height: 20%;
    background-image: linear-gradient(#000, transparent);
    z-index: 2;
  } 
  .w3-large {
    color: #fff;
    max-width: 40%;
    h1 {
      margin: 1em 0;
      background-color: rgba(0,0,0,0.2);
    }
    p:nth-child(1) {
      background-color: $red-color;
      display: inline;
      padding: 0.5em;
    }
    p:nth-child(3), p:nth-child(2) {
      margin-bottom: 2em;
      background-color: rgba(0,0,0,0.2);
    }
    .lighterText {
      font-family: $font-stack-light;
    }
    a {
      background-color: #fff;
      color: $red-color;
      padding: 12px 18px;
      border-radius: 25px;
      svg {
        vertical-align: middle;
      }
    }
  }
  button {
    outline: none;
    margin: 20px;
    background-color: transparent;
    svg:hover {
      fill: $red-color;
    }
  }
  a.slideDown {
    background-color: #fff;
    position: absolute;
    left: 50%;
    bottom: 15%;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    svg {
      display: block;
      margin: 15px auto;
      transform: translateY(0);
      transition: transform 1s ease;
    }
    &:hover svg {
      transform: translateY(10px);
    }
  }
}
.w3-display-bottomleft {
  opacity: 0;
  top: 30%;
  left: 10%;
}
.mySlides {
  display: none;
}
div.mySlides img {
  max-height: 100%;
  height: 100vh;
  object-fit: cover;
}
.w3-badge {
  height: 13px;
  width: 13px;
  padding: 0;
  border: 1px solid $red-color;
}
@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(-50px);
  }
}
ul.bottomNav {
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 3;
  color: #fff;
  background-image: linear-gradient(#000, transparent);
  li {
    padding: 5px 10px;
    a:hover {
      transition: color .5s ease;
      color: $red-color;
    }
  }
  li:nth-child(1) {
    padding: 10px;
    flex-grow: 3;
  }
  li:nth-child(9) {
    display: flex;
    padding-top: 6px;
    flex-grow: 5;
    justify-content: flex-end;
    a {
      display: flex;
      background-color: $red-color;
      padding: 12px 18px;
      border-radius: 25px;
      &:hover {
        color: #fff;
      }
    }
  }
}

.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0,-60px);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s,opacity 0 .3s;
}

.is-visible {
  opacity: 1;
  -webkit-transform: translate(0,0);
  -webkit-transition: -webkit-transform .2s,background .3s,color .3s;
} 