$font-stack: 'HelveticaNeue', Helvetica, Arial, sans-serif;
$font-stack-light: 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
$font-stack-bold: 'HelveticaNeue-Bold', Helvetica, Arial, sans-serif;
$one-third-width: 100%/3;
//Colors
$red-color: rgb(230,0,40);
$grey: rgb(75,75,75);
$h2-color: rgb(51,51,51);
$text-color: rgb(138,142,146);
$newsletter-color: rgb(242,242,242);
